@import "../../Fonts&Colors.scss";
@import "../../media.scss";

.services {
  position: relative;
  padding: 100px 15px 0px 15px;
  z-index: 5;

  .services_tiles {
    margin: auto;
    padding: 0;
    box-sizing: border-box;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    @include md {
      grid-template-columns: repeat(2, 1fr);
    }

    [class*="tile_"] {
      position: relative;
      max-height: 300px;
      max-width: 300px;
      transition: all 0.4s ease;
      margin: 10px;
      user-select: none;
      cursor: pointer;

      @include xsm {
        margin: 5px;
      }

      .services_tiles_background {
        width: 100%;
        height: auto;
        pointer-events: none;
      }

      .service_tiles_icon,
      h2,
      p {
        width: 300px;
        padding: 0px;
        margin: 0px;
        position: absolute;
        transform: translate(-50%, -50%);
        left: 50%;
        text-align: center;
        pointer-events: none;

        @include sm {
          width: 250px;
        }

        @include xsm {
          width: 155px;
        }
      }

      .service_tiles_icon {
        top: 30%;
        max-height: 65px;
        max-width: 65px;

        @include xsm {
          top: 40%;
          max-height: 45px;
          max-width: 45px;
        }
      }

      h2 {
        top: 50%;
        @include desktop_subtitle;
        color: white;

        @include sm {
          @include tablet_subtitle;
          color: white;
        }

        @include xsm {
          @include mobile_header($pTextWhite);
          top: 65%;
          padding: 0px 2px 0px 2px;
        }
      }

      p {
        @include desktop_text($pTextWhite);
        height: 50px;
        top: 67.5%;

        @include sm {
          @include tablet_text($pTextWhite);
        }

        @include xsm {
          display: none;
        }
      }
    }

    [class*="tile_"]:hover {
      transform: scale(1.05);
    }

    [class*="--active"] {
      opacity: 1;
    }

    /////////////////////////////////
    // Middle ware for animation
    /////////////////////////////////

    .animated_modal_middleware {
      position: absolute;
      top: 50%;
      left: 50%;
      width: 300px;
      height: 300px;
      transform: translate(-50%, -50%);
      background: rgba(255, 0, 0, 0.707);
    }
  }
}
