@import "../../Fonts&Colors.scss";
@import "../../media.scss";

.hero {
  position: relative;
  min-height: 90vh;
  padding: 10vh 15px 0px 15px;
  user-select: none;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;

  .hero_intro {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 470px;
    width: 400px;
    z-index: 10;
    @include md {
      margin: 0;
    }

    .hero_intro_info {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      justify-content: center;

      h1 {
        @include intro_title;
        margin: 10px 0px 0px 0px;

        @include lg {
          @include desktop_intro_title;
        }
        @include md {
          @include tabletAndDesktop_intro_title;
        }
        @include sm {
          @include tablet_intro_title;
        }
        @include xsm {
          @include mobile_intro_title;
        }
      }

      h2 {
        @include subtitle;
        @include lg {
          @include desktop_subtitle;
        }
        @include md {
          @include tablet_subtitle;
        }
        @include sm {
          @include tablet_subtitle;
        }
        @include xsm {
          @include mobile_subtitle;
        }
      }
      span {
        color: $highlight_2;
      }
    }

    p {
      @include text($pTextColor);
      @include lg {
        @include desktop_text($pTextColor);
      }
      @include md {
        @include tabletAndDesktop_text($pTextColor);
      }
      @include sm {
        @include tablet_text($pTextColor);
      }
      @include xsm {
        @include mobile_text($pTextColor);
      }
    }

    .hero_intro_buttons {
      margin-top: 20px;
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: center;

      .hero_intro_button_1,
      .hero_intro_button_2 {
        padding: 15px 60px;
        border-radius: 30px;
        color: $pTextWhite;
        cursor: pointer;

        @include xsm {
          padding: 10px 40px;
        }

        p {
          @include text($pTextWhite);
          @include lg {
            @include desktop_text($pTextWhite);
          }
          @include md {
            @include tabletAndDesktop_text($pTextWhite);
          }
          @include sm {
            @include tablet_text($pTextWhite);
          }
          @include xsm {
            @include mobile_text($pTextWhite);
          }
        }
      }
      .hero_intro_button_1 {
        background: $highlight;
      }
      .hero_intro_button_2 {
        background: $highlight_2;
      }
    }
  }

  .hero_profileImage {
    height: 450px;
    width: 450px;
    border: 23px solid #1f2935;
    border-radius: 50%;
    overflow: hidden;
    margin-left: 100px;
    z-index: 10;

    @include lg {
      height: 360px;
      width: 360px;
    }
    @include md {
      display: none;
    }

    img {
      height: 460px;
      width: 460px;

      @include lg {
        height: 360px;
        width: 360px;
      }
    }
  }
}
