@import "../../Fonts&Colors.scss";
@import "../../media.scss";

.about {
  padding: 100px 15px 0px 15px;
  @include xsm {
    padding: 70px 15px 0px 15px;
  }

  .about_body_img {
    height: 550px;

    @include md {
      display: none;
    }

    img {
      object-fit: cover;
    }
  }

  .about_body_text {
    padding: 25px 25px;
    text-align: left;
    background: $textBacgroundDark;

    @include md {
      margin: auto;
      width: 600px;
    }

    h2 {
      @include header($pTextColor);
      padding-bottom: 20px;

      @include lg {
        @include desktop_header($pTextColor);
      }
      @include md {
        @include tabletAndDesktop_header($pTextColor);
      }
      @include sm {
        @include tablet_header($pTextColor);
      }
      @include xsm {
        @include mobile_header($pTextColor);
      }
    }

    p {
      @include text($pTextColor);
      text-align: justify;
      padding-bottom: 10px;

      @include lg {
        @include desktop_text($pTextColor);
      }
      @include md {
        @include text($pTextColor);
      }
      @include sm {
        @include tablet_text($pTextColor);
      }
      @include xsm {
        @include mobile_text($pTextColor);
      }
    }

    li {
      @include text($pTextColor);

      @include lg {
        @include desktop_text($pTextColor);
      }
      @include md {
        @include tabletAndDesktop_text($pTextColor);
      }
      @include sm {
        @include tablet_text($pTextColor);
      }
      @include xsm {
        @include mobile_text($pTextColor);
      }
    }

    li:before {
      content: "•";
      padding-right: 8px;
      color: $highlight_2;
    }

    .about_body_text_buttons {
      margin-top: 80px;
      display: flex;
      flex-direction: row;
      justify-content: space-evenly;
      align-items: center;

      @include xsm {
        margin-top: 20px;
      }

      .about_body_text_button_1,
      .about_body_text_button_2 {
        padding: 15px 60px;
        border-radius: 30px;
        color: $pTextWhite;
        cursor: pointer;
        @include xsm {
          padding: 10px 40px;
        }
      }

      .about_body_text_button_1 {
        background: $highlight;
      }
      .about_body_text_button_2 {
        background: $highlight_2;
      }
    }
  }
}
