@import "../Fonts&Colors.scss";
@import "../media.scss";

img {
  @include sm {
    height: 125%;
  }
}

.presentational_header {
  position: relative;
  margin: auto;
  border-bottom: 2px solid #0abead;
  width: 280px;
  user-select: none;

  h1 {
    @include intro_title;
    @include lg {
      @include desktop_intro_title;
    }
    @include md {
      @include tabletAndDesktop_intro_title;
    }
    @include sm {
      @include tablet_intro_title;
    }
    @include xsm {
      @include mobile_intro_title;
    }
  }

  p {
    @include text($pTextColor);
    margin: 0px 0px 35px 0px;

    @include lg {
      @include desktop_text($pTextColor);
    }
    @include md {
      @include tabletAndDesktop_text($pTextColor);
    }
    @include sm {
      @include tablet_text($pTextColor);
    }
    @include xsm {
      @include mobile_text($pTextColor);
    }
  }
}

.presentational_header::after {
  content: "";
  position: absolute;
  transform: translateX(-50%);
  height: 12px;
  bottom: -7px;
  left: 50%;
  width: 50px;
  background: $highlight;
  border-radius: 6px;
}

.presentational_body {
  max-width: 1170px;
  margin: auto;
  margin-top: 100px;
  display: flex;
  flex-direction: row;

  @include xsm {
    margin-top: 40px;
  }
}
