footer {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100px;
  background: #161d26;
  z-index: 15;

  .footer_container {
    max-width: 1200px;
    height: 100%;
    margin: auto;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-end;

    span {
      transform: translate(-50%, -50%);
      top: 50%;
      left: 25%;
      position: absolute;
      letter-spacing: 5px;
      font-weight: 500;
      color: #95a5c6;
    }

    a {
      margin: 10px;

      img {
        margin: 0px 20px;
      }
      img:hover {
        cursor: pointer;
      }
    }
  }
}
