@import "../../Fonts&Colors.scss";
@import "../../media.scss";

footer {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100px;
  background: #161d26;
  z-index: 15;

  .footer_container {
    max-width: 1200px;
    height: 100%;
    margin: auto;
    display: flex;
    flex-direction: row;
    align-items: center;

    @include sm {
      flex-direction: column-reverse;
      align-items: center;
    }

    span {
      position: relative;
      letter-spacing: 5px;
      font-weight: 500;
      color: #95a5c6;

      @include sm {
        transform: translateX(-50%);
        left: 50%;
        width: 100%;
        letter-spacing: 2px;
      }
    }

    .footer_links {
      flex: 1;
      display: flex;
      justify-content: flex-end;

      a {
        padding: 10px;
        @include sm {
          padding: 5px;
        }

        img {
          top: 50%;
          padding: 0px 20px;
          @include sm {
            padding: 0px 10px;
            height: 36px;
            width: 36px;
          }
          @include xsm {
            padding: 0px 5px;
            height: 32px;
            width: 32px;
          }
        }
        img:hover {
          cursor: pointer;
        }
      }
    }
  }
}
