@import "../../Fonts&Colors.scss";
@import "../../media.scss";

.blog {
  position: relative;
  margin: 200px 0px 200px 0px;
  padding: 100px 15px 100px 15px;
  min-height: 600px;
  z-index: 5;

  .blog_cards {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    @include sm {
      flex-direction: column;
    }

    .blog_body_card {
      max-height: 670px;
      width: 33%;
      background: #161d26;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: space-between;
      @include sm {
        width: 80%;
      }

      @include xsm {
        width: 100%;
      }

      .blog_body_card_header {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 170px;
        width: 100%;
        @include subtitle;
        color: $pTextWhite;

        @include lg {
          @include desktop_subtitle;
          color: $pTextWhite;
        }
        @include md {
          @include tabletAndDesktop_subtitle;
          color: $pTextWhite;
        }
        @include sm {
          height: 140px;
          @include tablet_subtitle;
          color: $pTextWhite;
        }
        @include xsm {
          height: 120px;
          @include mobile_subtitle;
          color: $pTextWhite;
        }
      }

      .blog_body_card_list {
        display: flex;
        justify-content: center;
        align-items: flex-start;
        flex-direction: column;
        padding-left: 0px;
        margin-top: 10px;
        max-width: 90%;

        a {
          @include text($pTextColor);

          @include lg {
            @include desktop_text($pTextColor);
          }
          @include md {
            @include tabletAndDesktop_text($pTextColor);
          }
          @include sm {
            @include tablet_text($pTextColor);
          }
          @include xsm {
            @include mobile_text($pTextColor);
          }
          &:hover {
            color: var(--hover);
          }
        }

        li {
          padding-bottom: 10px;
        }

        li:before {
          content: "•";
          padding-right: 8px;
          color: $pTextColor;
        }
      }
    }
  }
}
